
a:visited {
  color: #5755d9;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar svg {
  width: 32px;
  height: 32px;
}

.navbar .navbar-brand {
  font-weight: 700;
  margin-left: 10px;
}

.container {
  max-width: 960px;
}

.tab {
  margin-bottom: 1rem;
}

.tab .tab-item {
  background: #f8f9fa;
  margin-right: 2px;
}

.tab .tab-item:hover {
  background: #caced7;
}

.divider[data-content] {
  margin-top: 2rem;
  border-top: 0;
  height: .05rem;
  background: rgb(231,233,237);
  background: linear-gradient(90deg, rgba(231,233,237,1) 0%, rgba(255,255,255,1) 80%);
}

footer {
  margin-top: 1rem;
  padding: 1rem 0 0;
}

footer a img, footer a svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  transition: all 2s ease;
}

footer a span {
  display: none;
}

table td {
  vertical-align: top;
  font-family: "Fira Mono", "Source Code Pro", monospace;
  padding: 0.1rem .4rem;
}

table td.keys:before {
  content: '[';
  color: #e0e3ea;
}

table td.keys:after {
  content: ']';
  color: #e0e3ea;
}

.result {
  background: #f8f9fa;
}

.form-input-hint {
  margin-bottom: 0;
}

/* PHP.net */
.dc-description {
  font-family: "Fira Mono", "Source Code Pro", monospace;
}

.methodsynopsis .type, .constructorsynopsis .type {
  color: #693;
}

.methodname b, .methodname strong, .methodname a, .classsynopsis .classname, .parameter {
  color: #369;
}

.interfacename a, .fieldsynopsis .type, .methodsynopsis .type, .constructorsynopsis .type {
  color: #693;
}

.methodname b, .methodname strong, .methodname a, .classsynopsis .classname, .parameter {
  color: #369;
}

.initializer, .initializer code {
  color: #936;
}

.initializer, .initializer code {
  color: #936;
}
/* /PHP.net */

#help .modal-body {
  font-size: 0.6rem;
}

#help h6 {
  margin-top: 1em;
}

.modal-header {
  border-bottom: .05rem solid #e7e9ed;
}

.modal-container .modal-body {
  max-height: 80vh;
}
